<div class="d-flex" style="width: 100%;">
<div class="flex-shrink-0" style="flex: 0 0 90%; max-width: 90%;">
    <div class="p-3 fw-bold">
        <h1>Consulta de Empenhos</h1>
<p><small>Clique com o botão direito do mouse sobre a tabela para mais opções</small></p>

    </div>
   
    <p-panel header="Resultado(s) da consulta">
     
       <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Nº do Empenho</th>
      <th scope="col">Credor</th>
      <th scope="col">Valor Empenhado</th>
      <th scope="col">Valor Liquidado</th>
      <th scope="col">Valor Repetido(Liquidação)</th>
      <th scope="col">Valor Pago</th>
      <th scope="col">Valor Pago+Refeições</th>
      <th scope="col">Anulado Empenho</th>
      <th scope="col">Qtde. Notas Fiscais</th>
      <th scope="col">Qtde.NF-e</th>
      <th scope="col">Contratos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>
    </p-panel>
</div>


<div class="flex-shrink-0" style="flex: 1 1 10%; max-width: 10%;">
<div class="card flex justify-center m-1 text-small">
   <p-fieldset legend="opções:" class="font-small">
    Selecione o Exercício
        <div class="card flex justify-center">
         dfdjf
        </div>
      </p-fieldset>
</div>

<div class="card flex flex-wrap gap-4 justify-center m-2">
    <p-button label="Ir para a unidade gestora" variant="text" severity="secondary" />
   
</div>

<div class="card flex flex-wrap gap-4 justify-center m-2 text-small">
    <p-message severity="error">Obs: estão sendo considerados apenas os reenvios autorizados e reenviados após 31/05/2011</p-message>

</div>

<div class="card flex flex-wrap gap-4 justify-center m-2">
    <p-button label="Filtrar[F3]" variant="outlined" severity="secondary" />
</div>

<div class="card flex flex-wrap gap-4 justify-center m-2">
  <p-button label="Localizar[F4]" variant="outlined" severity="secondary" />
</div>

<div class="card flex flex-wrap gap-4 justify-center m-2">
  <p-button label="Fechar[Esc]" variant="outlined" severity="secondary" />
</div>
</div>
</div>