<div class="container-fluid d-flex">



<div class="d-flex" style="width: 100%;">
     <div class="p-3">
        <h1 class="text-secondary">Selecionar a Unidade Gestora para Auditoria</h1>
        <h6 class="fw-bold text-danger">Atenção para o exercício da relatoria</h6>
           <div class="border p-3 w-100">
  <div class="d-flex" style="gap: 10px;"> <!-- Container flex -->
  <div class="d-flex flex-column gap-5 " style="width: 30%;">
    <button type="button" class="btn btn-outline-secondary py-3">Selecionar</button>
    <button type="button" class="btn btn-outline-danger py-3">Fechar</button>
  </div>
  <div class="d-flex flex-column w-100 bg-gray" style="width: 100%;">
  <h3 class="font-weight-bold text-secondary">Conselheiro da UG Selecionada: <strong>xxxxx</strong></h3>

  <!-- Disposição para o select -->
  <div class="d-flex align-items-center w-100 m-2">
    <h3 class="mr-2 mb-0 text-secondary">Selecionar Tipo:</h3>
    <div class="flex-fill">
      <p-select 
        [options]="selecionarTipos"  
        [(ngModel)]="selecionarTiposSelecionado"  
        optionLabel="name"
        placeholder="Tipo" 
        [ngModelOptions]="{standalone: true}" 
        class="w-100"
      ></p-select>
    </div>
  </div>

  <!-- Disposição para o input -->
  <div class="d-flex align-items-center w-100 m-2">
    <h3 class="mr-2 mb-0 text-secondary">Localizar o Município:</h3>
    <div class="flex-fill">
      <input 
        class="form-control" 
        type="text" 
        pInputText 
        [(ngModel)]="value" 
      />
    </div>
    </div>
  </div>
</div>
  </div>
</div>
 </div>


     
       
    <div class="flex-shrink-0" style="flex: 0 0 11%; max-width: 11%;">
     <!-- A parte direito com 11 de width -->
    <p-fieldset legend="Exercício para análise">
     <div class="d-flex w-100 justify-center ">
          <p-select [options]="selectListAno" [(ngModel)]="ExercicioSelecionado" optionLabel=anoNum
            placeholder="Exercício" [ngModelOptions]="{standalone: true}" class="w-full md:w-56" />

      </div>
     </p-fieldset>
      <p-panel>
     <p-fieldset legend="Informações recebidas" class="m-2">
     <div class="d-flex w-100 flex-column">
      <div *ngFor="let category of categories" class="flex flex-column">
            <p-checkbox [inputId]="category.key" name="group" [value]="category" [(ngModel)]="selectedCategories" />
            <label [for]="category.key" class="ml-2"> {{ category.name }} </label>
      </div> 

      </div>
     </p-fieldset>

      <p-fieldset legend="Escolha o tipo da carga:" class="w-56 ml-0">
        <div class="d-flex w-100 justify-center ">
        <p-select class="ml-0" [options]="TipoCargas" [(ngModel)]="TipoCargaSelecionada" optionLabel="name"
            placeholder="Tipo de Carga" [ngModelOptions]="{standalone: true}" />
        </div>

      </p-fieldset>

      <p-fieldset legend="Informações recebidas" class="m-2">
     <div class="d-flex w-100 flex-column">
     
      <div *ngFor="let category of categories" class="flex flex-column">
            <p-checkbox [inputId]="category.key" name="group" [value]="category" [(ngModel)]="selectedCategories" />
            <label [for]="category.key" class="ml-2"> {{ category.name }} </label>
      </div> 

      </div>
     </p-fieldset>

   </p-panel>
    </div>

  <div class="d-flex flex-row gap-3">
          
  
<div class="flex-shrink-0" style="flex: 1 1 89%; max-width: 89%;">

       <!-- A parte direita com 89 de width -->

</div>

</div>


