<div class="d-flex flex-column">

    <div class="p-3 w-100">
        <h2 class="text-secondary">Envios de Sugestões sobre o APLIC para a Secretária de Desenvolvimento de Controle
            Externo</h2>
        <h6 class="fw-bold text-info">Consultando informações</h6>
    </div>

    <div class="d-flex flex-row w-100 gap-5 border py-3 m-2">
        <div>
            
        </div>

        <div>
           <button type="button" class="btn btn-outline-secondary">Manutenção dos registros</button>
        </div>

        <div>
            <button type="button" class="btn btn-outline-secondary"><strong>0</strong>arq(s) anexado(s) para SUGESTÕES</button>
        </div>
        <div>
          <button type="button" class="btn btn-outline-secondary">Histórico de atendimento</button>
        </div>


    </div>

    <!-- SEGUNDA FILA DE BOTOES -->
    <div class="d-flex flex-row w-100 gap-5 border py-3 m-2">
        <div>
            
        </div>

        <div>
           <button type="button" class="btn btn-success"><i class="bi bi-plus-lg"></i> Novo[lns]</button>
        </div>

        <div>
            <button type="button" class="btn btn-warning"><i class="bi bi-pencil"></i> Alterar[F2]</button>
        </div>
        <div>
          <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i> Excluir[Del]</button>
        </div>

         <div>
          <button type="button" class="btn btn-primary y-3">Salvar</button>
        </div>

         <div>
          <button type="button" class="btn btn-primary"><i class="bi bi-printer"></i> Imprimir</button>
        </div>
        
         <div>
          <button type="button" class="btn btn-secondary">Cancelar</button>
        </div>
        
         <div>
          <button type="button" class="btn btn-secondary">Fechar[Esc]</button>
        </div>
    </div>

</div>