<nav class="navbar navbar-expand px-2">
<div class="side-nav-button p-2 me-2 text-light" (click)="SideNavBar()">
   <img class="" src="aplic-tcemt-logo.svg" alt="logo de aplic" width="50px" height="50px">
</div>

<a class="navbar-brand px-4 text-light" href="#">APLIC</a>

<div class="navbar-collapse">
    <ul class="navbar-nav me-auto">

     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
       Peças de Planejamento
    </a>

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="">Créditos Adicionais</a></li>
      <li><a class="dropdown-item" href="">LDO</a></li>
      <li><a class="dropdown-item" href="">LOA (e suas alterações)</a></li>
      <li><a class="dropdown-item" href="">Órgãos</a></li>
      <li><a class="dropdown-item" href="">Unidades Orçamentárias</a></li>
      <li><a class="dropdown-item" href="">Programas</a></li>
      <li><a class="dropdown-item" href="">Projetos/Atividades</a></li>
    </ul>
     </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
       Prestação de Contas
    </a>

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="">Contas de Gestão</a></li>
      <li><a class="dropdown-item" href="">Contas de Governo</a></li>
      <li><a class="dropdown-item" href="">Documentos PPA</a></li>
       <li><a class="dropdown-item" href="">Documentos LDO</a></li>
      <li><a class="dropdown-item" href="">Documentos LOA</a></li>
      <li><a class="dropdown-item" href="">Consulta protocolo de envio(carga imediata)</a></li>
       <li><a class="dropdown-item" href="">Prestação</a></li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
       Informes: Mensais
    </a>

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="">Cadastro Geral</a></li>
      <li><a class="dropdown-item" href="">Conselho Municipal</a></li>
      <li><a class="dropdown-item" href="">Contabilidade</a></li>
       <li><a class="dropdown-item" href="">Contratos</a></li>
      <li><a class="dropdown-item" href="">Controle Interno</a></li>
      <li><a class="dropdown-item" href="">Convênio e Congêneres</a></li>
       <li><a class="dropdown-item" href="">Despesas</a></li>
      <li><a class="dropdown-item" href="">Dívidas</a></li>
      <li><a class="dropdown-item" href="">Disponibilidades</a></li>
       <li><a class="dropdown-item" href="">Documentos Diversos</a></li>
      <li><a class="dropdown-item" href="">Leis/Decretos</a></li>
      <li><a class="dropdown-item" href="">CF/LRF - Limites/Documentações</a></li>
       <li><a class="dropdown-item" href="">Patrimônio</a></li>
      <li><a class="dropdown-item" href="">Pessoal</a></li>
      <li><a class="dropdown-item" href="">Receitas</a></li>
       <li><a class="dropdown-item" href="">Recibos de Pagamento Eventual</a></li>
      <li><a class="dropdown-item" href="">Responsáveis</a></li>
      <li><a class="dropdown-item" href="">Ressarcimento aos Cofres Públicos</a></li>
       <li><a class="dropdown-item" href="">Restos a pagar</a></li>
      <li><a class="dropdown-item" href="">Tomadas de Contas Especial</a></li>
      <li><a class="dropdown-item" href="">Transferências Bancárias e Finaceiras</a></li>
      <li><a class="dropdown-item" href="">Unidades Gestoras dispensadas</a></li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
       Informes: Envio Imediato
    </a>

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="">Licitações</a></li>
      <li><a class="dropdown-item" href="">Sansções Aplicadas aos Fonrnecedores</a></li>
      <li><a class="dropdown-item" href="">Concursos</a></li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
       Auditoria
    </a>

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="">Indícios Notas Fiscais</a></li>
      <li><a class="dropdown-item" href=""> Indícios Empenhos</a></li>
      <li><a class="dropdown-item" href=""> Sugestões Amostra</a></li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
      Impressões
    </a>

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="">Anexos(Lei n° 4.320/64) - Até 2014</a></li>
      <li><a class="dropdown-item" href="">Anexos(Lei n° 4.320/64) - A partir de 2015</a></li>
    </ul>
     </li>

   <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown">
    Cruzamento de Dados
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <!-- <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Child 1</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
      </ul>
    </li> -->
    <li><a class="dropdown-item" href="#">SEAP-Atos de admissão</a></li>
    <li><a class="dropdown-item" href="#">Consulta CPF/CNPJ</a></li>
     <li><a class="dropdown-item" href="#">Empenhos</a></li>
    <li><a class="dropdown-item" href="#">Licitações</a></li>
     <li><a class="dropdown-item" href="#">Sansções Aplicadas aos Fornecedores</a></li>
    <li><a class="dropdown-item" href="#">Concursos</a></li>
     <li><a class="dropdown-item" href="#">Benefícios Previdenciários</a></li>
    <li><a class="dropdown-item" href="#">Lotacionograma (ATÉ 2011)</a></li>
     <li><a class="dropdown-item" href="#">Lotacionograma (APÓS 2011)</a></li>
    <li><a class="dropdown-item" href="#">RPPS</a></li>
     <li><a class="dropdown-item" href="#">Cronograma Nova Contabilidade Pública</a></li>
    <li><a class="dropdown-item" href="#">Pesquisa por CPF</a></li>
     <li><a class="dropdown-item" href="#">Indícios Notas Fiscais</a></li>
    <li><a class="dropdown-item" href="#">Indicios Empenhos</a></li>
  </ul>
</li>

      <li class="nav-item dropdown dropstart">
    <a class="nav-link dropdown-toggle text-light" href="" role="button"
    data-bs-toggle="dropdown">
       Ajuda
     </a>

          
     <!-- Pra criar nivel de dropdowns
     <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">o que quero que seja o principal</a>
         <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="">item 1</a></li>
           <li><a class="dropdown-item" href="">item 2</a></li>
         </ul>
     </li> -->


    <ul class="dropdown-menu dropdown-menu-dark">
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Tabelas Internas</a>
       <ul class="dropdown-menu dropdown-menu-dark">
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Bancos</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="">Tabela dos Bancos</a></li>
          </ul>
        </li>
         <li><a class="dropdown-item" href="">Benefícios</a></li>
         <li><a class="dropdown-item" href="">Bens Móveis/Imovéis</a></li> 
          <li><a class="dropdown-item" href="">Cargo</a></li>
         <li><a class="dropdown-item" href="">Certidão</a></li>
         <li><a class="dropdown-item" href="">Classificação da Receita/Despesa</a></li>
          <li><a class="dropdown-item" href="">Conselho Municipal</a></li>
         <li><a class="dropdown-item" href="">Concurso</a></li>
         <li><a class="dropdown-item" href="">Contrato</a></li>
          <li><a class="dropdown-item" href="">Demostrativos Contábeis</a></li>
         <li><a class="dropdown-item" href="">Dívida Ativa</a></li>
         <li><a class="dropdown-item" href="">Dívida Pública</a></li>
          <li><a class="dropdown-item" href="">Elenco de Contas</a></li>
         <li><a class="dropdown-item" href="">Entidade</a></li>
         <li><a class="dropdown-item" href="">IRRF</a></li>
          <li><a class="dropdown-item" href="">Lei</a></li>
         <li><a class="dropdown-item" href="">Licitação</a></li>
         <li><a class="dropdown-item" href="">LRF</a></li>
          <li><a class="dropdown-item" href="">Moeda</a></li>
         <li><a class="dropdown-item" href="">Obra</a></li>
         <li><a class="dropdown-item" href="">Órgão</a></li>
          <li><a class="dropdown-item" href="">Pessoal</a></li>
         <li><a class="dropdown-item" href="">Responsável</a></li>
         <li><a class="dropdown-item" href="">Restos a Pagar</a></li>
          <li><a class="dropdown-item" href="">RPPS</a></li>
          <li><a class="dropdown-item" href="">Sistemas Administrativos</a></li>
          <li><a class="dropdown-item" href="">Unidade de Medida</a></li>
        


         <!-- <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Child 1</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
      </ul>
    </li> -->
        
       </ul>
      </li> 
      <li><a class="dropdown-item" href="">Janelas</a></li>
      <li><a class="dropdown-item" href="">Histórico das Atualizações</a></li>
      <li><a class="dropdown-item" href="">Sobre</a></li>
    </ul>
     </li>
    </ul>
</div>

  <!-- <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Child 1</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
      </ul>
    </li> -->


<form class="d-flex me-5">
 <input class="form-control me-2" type="search" placeholder="Pesquisar">
 <button class="btn btn-outline-light" type="submit">Pesquisar</button>
</form>

  <div class="profile-logo dropstart">
 <button class="btn btn-outline-light dropdown-toggle"  data-bs-toggle="dropdown">
    Naifa
 </button>
 <ul class="dropdown-menu dropdown-menu-dark">
   <li *ngFor="let item of list">
    <a href="" class="dropdown-item" routerLink="active" [routerLink]="[item.route]">{{item.name}}</a>
  </li>
   
 </ul>
  </div>
</nav>