<nav class="navbar navbar-expand px-2">
<div class="side-nav-button p-2 me-2 text-light" (click)="SideNavBar()">
   <img class="" src="aplic-tcemt-logo.svg" alt="logo de aplic" width="50px" height="50px">
</div>

<a class="navbar-brand px-4 text-light" href="#">APLIC</a>

<div class="navbar-collapse">
    <ul class="navbar-nav me-auto">

     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
       Peças de Planejamento
    </a>

    <ul class="dropdown-menu dropdown-menu-light">
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Créditos Adicionais</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Créditos Adicionais(detalhamento)</a></li>
          <li><a class="dropdown-item" href="">Execução Orçamentária vs Créditos Adicionais por Excesso de Arrecadação</a></li>
          <li><a class="dropdown-item" href="">Por Fonte/Financiamento</a></li>
          <li><a class="dropdown-item" href="">Por Unidade Orçamentária</a></li>
          <li><a class="dropdown-item" href="">Por Dotação/Fonte/Tipo/Lei/Decreto</a></li>
          <li><a class="dropdown-item" href="">Financiado por Excesso de Arrecadação</a></li>
          <li><a class="dropdown-item" href="">Financiado por Superávit Financeiro</a></li>
          <li><a class="dropdown-item" href="">alterações de Fontes/Destinações de Recursos</a></li>
          <li><a class="dropdown-item" href="">Alterações orçamentárias/leis autorizativas/fonte de Financiamento</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">LDO</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Ações Governamentais</a></li>
          <li><a class="dropdown-item" href="">Anexos das Metas Físcais</a></li>
          <li><a class="dropdown-item" href="">Anexos dos Recursos Fiscais</a></li>
          <li><a class="dropdown-item" href="">Anexos de Renúncia de Receita e/ou  Expansão da Despesa</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="">LOA (e suas alterações)</a></li>
      <hr>
      <li><a class="dropdown-item" href="">Órgãos</a></li>
      <li><a class="dropdown-item" href="">Unidades Orçamentárias</a></li>
      <hr>
      <li><a class="dropdown-item" href="">Programas</a></li>
      <li><a class="dropdown-item" href="">Projetos/Atividades</a></li>
    </ul>
     </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
       Prestação de Contas
    </a>

    <ul class="dropdown-menu dropdown-menu-light">
      <li><a class="dropdown-item" href="">Contas de Gestão</a></li>
      <li><a class="dropdown-item" href="">Contas de Governo</a></li>
      <li><a class="dropdown-item" href="">Documentos PPA</a></li>
       <li><a class="dropdown-item" href="">Documentos LDO</a></li>
      <li><a class="dropdown-item" href="">Documentos LOA</a></li>
      <li><a class="dropdown-item" href="">Consulta protocolo de envio(carga imediata)</a></li>
       <li><a class="dropdown-item" href="">Prestação</a></li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
       Informes: Mensais
    </a>

    <ul class="dropdown-menu dropdown-menu-light">
      <li><a class="dropdown-item" href="">Cadastro Geral</a></li>
      <li><a class="dropdown-item" href="">Conselho Municipal</a></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Contabilidade</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Ativos e Passivos Financeiros por Fontes</a></li>
          <li><a class="dropdown-item" href="">Balancetes atestados pelo jurisdicionado</a></li>
          <li><a class="dropdown-item" href="">Balancete de Verificação</a></li>
          <li><a class="dropdown-item" href="">Balancete de Verificação com conta corrente</a></li>
          <li><a class="dropdown-item" href="">Execução Orçamentária por Fonte X Superávit Financeiro</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Lançamento contábil</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Ativo Financeiro por Fonte de Recurso</a></li>
              <li><a class="dropdown-item" href="">Passivo Financeiro por Fonte de Recurso</a></li>
              <hr>
              <li><a class="dropdown-item" href="">Despesa Empenhada</a></li>
              <li><a class="dropdown-item" href="">Diária contábil</a></li>
              <li><a class="dropdown-item" href="">Movimento</a></li>
              <li><a class="dropdown-item" href="">Razão contábil</a></li>
              <li><a class="dropdown-item" href="">Razão contábil(Com contrapartida)</a></li>
            </ul>
          </li>
          <li><a class="dropdown-item" href="">Movimentação Bancária</a></li>
          <li><a class="dropdown-item" href="">Movimento contábil</a></li>
          <li><a class="dropdown-item" href="">Movimentação das Fontes/Destinações de Recursos</a></li>
          <li><a class="dropdown-item" href="">Cronograma Nova Contabilidade Pública</a></li>
          <li><a class="dropdown-item" href="">Siafic - Plano de Ação para a adequação ao Decreto n. 10.540/2020</a></li>
        </ul>
      </li>
       <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Contratos</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Contratos</a></li>
          <li><a class="dropdown-item" href="">Relatorio de Contratos com valor divergente do licitado</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Controle Interno</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Cronograma de Implementação dos Sistemas Administrativos</a></li>
          <li><a class="dropdown-item" href="">Normas do Controle Interno</a></li>
          <li><a class="dropdown-item" href="">Pareceres do Controle Interno</a></li>
          <li><a class="dropdown-item" href="">Plano Anual de Auditoria Interno - PAAI</a></li>
          <li><a class="dropdown-item" href="">Plano de Ação</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="">Convênio e Congêneres</a></li>
       <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Despesas</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Despesa Orçamentária</a></li>
          <li><a class="dropdown-item" href="">Despesa Orçamentária até Subelemento</a></li>
          <li><a class="dropdown-item" href="">Despesa Orçamentária por Órgão/unidade Orçamentária</a></li>
          <li><a class="dropdown-item" href="">Despesa Orçamentária por programa </a></li>
          <hr>
          <li><a class="dropdown-item" href="">Despesa por Função/Subfunção</a></li>
          <li><a class="dropdown-item" href="">Adiantamentos</a></li>
          <li><a class="dropdown-item" href="">Bilhetes de Passagem</a></li>
          <li><a class="dropdown-item" href="">Diárias </a></li>
          <hr>
          <li><a class="dropdown-item" href="">Benefícios de Assistência Social</a></li>
          <li><a class="dropdown-item" href="" routerLink="active" [routerLink]="['formulario-empenhos']">Empenhos</a></li>
          <li><a class="dropdown-item" href="">Gastos com Combustíveis</a></li>
          <hr>
          <li><a class="dropdown-item" href="">por Credores </a></li>
          <li><a class="dropdown-item" href="">por Elementos </a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Dívidas</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Dívida Ativa</a></li>
          <li><a class="dropdown-item" href="">Dívida Pública</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Disponibilidades</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Caixa</a></li>
          <li><a class="dropdown-item" href="">Conta Bancária</a></li>
          <li><a class="dropdown-item" href="">Conciliação Bancária - Resumo</a></li>
        </ul>
      </li>
       <li><a class="dropdown-item" href="">Documentos Diversos</a></li>
      <li><a class="dropdown-item" href="">Leis/Decretos</a></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">CF/LRF - Limites/Documentações</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">ASPS - Ações e Serviços Públicos de Saúde</a></li>
          <li><a class="dropdown-item" href="">Dívida Pública Contratada</a></li>
          <li><a class="dropdown-item" href="">MDE - Manutenção e Desenvolvimento do Ensino</a></li>
          <li><a class="dropdown-item" href="">Metas Fiscais</a></li>
          <hr>
          <li><a class="dropdown-item" href="">Disponibilidade de Caixa e Restos a Pagar </a></li>
           <li><a class="dropdown-item" href="">Despesa com Pessoal(Preliminar)</a></li>
          <li><a class="dropdown-item" href="">Despesa com Folha de Pagamento do Poder Legislativo</a></li>
          <hr>
          <li><a class="dropdown-item" href="">Cronograma de Desembolso (despesa)</a></li>
          <li><a class="dropdown-item" href="">Documentos e Publicações</a></li>
          <li><a class="dropdown-item" href="">Estimativa de Impacto Orçamentário-Financeiro</a></li>
          <li><a class="dropdown-item" href="">Metas de Arrecadação (receita)</a></li>
        </ul>
      </li>
       <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Patrimônio</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Relação de bens Patrimoniais</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Pessoal</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Atos de Pessoal</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Lotacionograma</a></li>
              <li><a class="dropdown-item" href="">Contratos de Pessoal Temporário</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Folha de Pagamento</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Folha de Pagamento</a></li>
              <li><a class="dropdown-item" href="">Recibos de Pagamentos de Servidores não presentes na FP</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Outras Consultas de Pessoal</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Cargos</a></li>
              <li><a class="dropdown-item" href="">Contribuições dos servidores</a></li>
              <li><a class="dropdown-item" href="">Contador Terceirizado</a></li>
              <li><a class="dropdown-item" href="">Declaração de Bens</a></li>
              <li><a class="dropdown-item" href="">Pessoal a dispo(da UG para outro órgão)</a></li>
              <li><a class="dropdown-item" href="">Pessoal em disposição(de outro órgão para UG)</a></li>
              <li><a class="dropdown-item" href="">RPPS(Benefícios, quotas, Base Cálc.D.A. Rec. e Desp)</a></li>
              <li><a class="dropdown-item" href="">GFIP/SEFIP</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Receitas</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Receita Orçamentária</a></li>
          <li><a class="dropdown-item" href="">Receita Orçamentária(Valores Líquidos)</a></li>
          <hr>
          <li><a class="dropdown-item" href="">Receita Arrecadada (Banco e outros)</a></li>
          <li><a class="dropdown-item" href="">Receita exercício anterior base duodécimo</a></li>
          <li><a class="dropdown-item" href="">Receita Tributária Própria(a partir de 2018)</a></li>
          <li><a class="dropdown-item" href="">Receitas Renúncia de Receita</a></li>
        </ul>
      </li>
       <li><a class="dropdown-item" href="">Recibos de Pagamento Eventual</a></li>
      <li><a class="dropdown-item" href="">Responsáveis</a></li>
      <li><a class="dropdown-item" href="">Ressarcimento aos Cofres Públicos</a></li>
       <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Restos a pagar</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Execução dos Restos</a></li>
          <li><a class="dropdown-item" href="">Restos a Pagar</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="">Tomadas de Contas Especial</a></li>
      <li><a class="dropdown-item" href="">Transferências Bancárias e Finaceiras</a></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Unidades Gestoras dispensadas</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Receita arrecadada/Despesa realizada</a></li>
        </ul>
      </li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
       Informes: Envio Imediato
    </a>

    <ul class="dropdown-menu dropdown-menu-light">
      <li><a class="dropdown-item" href="">Licitações</a></li>
      <li><a class="dropdown-item" href="">Sansções Aplicadas aos Fonrnecedores</a></li>
      <li><a class="dropdown-item" href="">Concursos</a></li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
       Auditoria
    </a>

    <ul class="dropdown-menu dropdown-menu-light">
      <li><a class="dropdown-item" href="">Indícios Notas Fiscais</a></li>
      <li><a class="dropdown-item" href=""> Indícios Empenhos</a></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href=""> Sugestões Amostra</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="">Adiantamentos</a></li>
          <li><a class="dropdown-item" href="">Contratos Relevantes</a></li>
          <li><a class="dropdown-item" href="">Despesas Relevantes Liquidadas</a></li>
          <li><a class="dropdown-item" href="">Educação - Despesas Impróprias</a></li>
          <li><a class="dropdown-item" href="">Educação - Funded</a></li>
          <li><a class="dropdown-item" href="">Educação - Convênios</a></li>
          <li><a class="dropdown-item" href="">Diárias</a></li>
          <li><a class="dropdown-item" href="">Dispensas/Inexigibilidades</a></li>
          <li><a class="dropdown-item" href="">Licitações Relevantes</a></li>
          <li><a class="dropdown-item" href="">Restos a Pagar</a></li>
          <li><a class="dropdown-item" href="">Saúde - Despesas Impróprias</a></li>
          <li><a class="dropdown-item" href="">Saúde - Convênios</a></li>
        </ul>
      </li>
    </ul>
     </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
      Impressões
    </a>

    <ul class="dropdown-menu dropdown-menu-light">
      <li><a class="dropdown-item" href="">Anexos(Lei n° 4.320/64) - Até 2014</a></li>
      <li><a class="dropdown-item" href="">Anexos(Lei n° 4.320/64) - A partir de 2015</a></li>
    </ul>
     </li>

   <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
    Cruzamento de Dados
  </a>
  <ul class="dropdown-menu dropdown-menu-light">
    <!-- <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Child 1</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
      </ul>
    </li> -->
    <li><a class="dropdown-item" href="#">SEAP-Atos de admissão</a></li>
    <li><a class="dropdown-item" href="#">Consulta CPF/CNPJ</a></li>
     <li><a class="dropdown-item" href="#">Empenhos</a></li>
    <li><a class="dropdown-item" href="#">Licitações</a></li>
     <li><a class="dropdown-item" href="#">Sansções Aplicadas aos Fornecedores</a></li>
    <li><a class="dropdown-item" href="#">Concursos</a></li>
     <li><a class="dropdown-item" href="#">Benefícios Previdenciários</a></li>
    <li><a class="dropdown-item" href="#">Lotacionograma (ATÉ 2011)</a></li>
     <li><a class="dropdown-item" href="#">Lotacionograma (APÓS 2011)</a></li>
    <li><a class="dropdown-item" href="#">RPPS</a></li>
     <li><a class="dropdown-item" href="#">Cronograma Nova Contabilidade Pública</a></li>
    <li><a class="dropdown-item" href="#">Pesquisa por CPF</a></li>
     <li><a class="dropdown-item" href="#">Indícios Notas Fiscais</a></li>
    <li><a class="dropdown-item" href="#">Indicios Empenhos</a></li>
  </ul>
</li>

      <div class="dropstart"> 
      <li class="nav-item dropdown dropstart">
    <a class="nav-link dropdown-toggle text-dark" href="" role="button"
    data-bs-toggle="dropdown">
       Ajuda
     </a>

          
     <!-- Pra criar nivel de dropdowns
     <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">o que quero que seja o principal</a>
         <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="">item 1</a></li>
           <li><a class="dropdown-item" href="">item 2</a></li>
         </ul>
     </li> -->


    <ul class="dropdown-menu dropdown-menu-light">
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Tabelas Internas</a>
       <ul class="dropdown-menu dropdown-menu-light">
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Bancos</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela dos Bancos</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Benefícios</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela MPAS</a></li>
            <li><a class="dropdown-item" href="">Tabela de Posto Militar</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Previdência</a></li>
            <li><a class="dropdown-item" href="">Tabela Espécie Benefício</a></li>
            <li><a class="dropdown-item" href="">Tabela Forma Cálculo Benefício</a></li>
            <li><a class="dropdown-item" href="">Tabela Regra Aposentadoria</a></li>
            <li><a class="dropdown-item" href="">Tabela Regra Pensão</a></li>
            <li><a class="dropdown-item" href="">Tabela Regra Reforma</a></li>
            <li><a class="dropdown-item" href="">Tabela Regra Reserva</a></li>
            <li><a class="dropdown-item" href="">Tabela Salário Mínimo</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Benefício</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Desconto</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Documento Aposentadoria</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Documento Pensão</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Documento Revisão</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Pensão</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Pensão Beneficiario</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Pessoa</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Servidor</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipo Tempo Ficitício</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Bens Móveis/Imovéis</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela das Modalidades de Baixa dos Bens imóveis</a></li>
            <li><a class="dropdown-item" href="">Tabela das Modalidades de Baixa dos Bens móveis</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Bem</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipos de Aquisições de Bens Imóveis</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipos de Aquisições de Bens Móveis</a></li>
          </ul>
        </li> 
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Cargo</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela Cargo Escolaridade</a></li>
              <li><a class="dropdown-item" href="">Tabela Cargo Forma Ocupação</a></li>
              <li><a class="dropdown-item" href="">Tabela Cargo Natureza</a></li>
              <li><a class="dropdown-item" href="">Tabela de Regime Jurídico do Cargo</a></li>
              <li><a class="dropdown-item" href="">Tabela de Tipo Cargo Contribuição</a></li>
              <li><a class="dropdown-item" href="">Tabela dos Cargos/Funções de Pessoal</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Certidão</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Certidão</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Classificação da Receita/Despesa</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela das Categorias Econômicas</a></li>
            <li><a class="dropdown-item" href="">Tabela da Natureza das Despesas</a></li>
            <li><a class="dropdown-item" href="">Tabela das Modalidades da Aplicacação</a></li>
            <li><a class="dropdown-item" href="">Tabela de Funções da Despesas</a></li>
            <li><a class="dropdown-item" href="">Tabela de Sub-funções da Despesa</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Elementos de Despesa</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Subelementos da Despesa</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Desdobramentos da Despesa</a></li>
            <li><a class="dropdown-item" href="">Tabela de Especificação da Receita</a></li>
            <li><a class="dropdown-item" href="">Tabela das Fontes de Recusrso</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Projeto/Atividades</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Conselho Municipal</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela dos Tipos de Conselhos Municipais</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Concurso</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela de Documento Concurso</a></li>
            <li><a class="dropdown-item" href="">Tabela de Situação Concurso</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Concurso</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Tipo da Não Posse</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Contrato</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Contratos</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Demostrativos Contábeis</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela dos Demostrativos Contábeis</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Dívida Ativa</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela das Modalidades da Baixa da Dívida Ativa</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Dívida Pública</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela de Tipo Movimento Dívida Pública</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Movimento  Dívida Material</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Tipos da Dívida Pública</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Elenco de Contas</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela de Tipo Encerramento</a></li>
              <li><a class="dropdown-item" href="">Tabela de Tipo Transferência Financeira</a></li>
              <li><a class="dropdown-item" href="">Tabela do Elenco de Contas TCE/MT</a></li>
              <li><a class="dropdown-item" href="">Tabela dos Tipos de Movimento Contábil</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Entidade</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela de Municípios</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Empresa</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Empresa Pequena/Micro</a></li>
            <li><a class="dropdown-item" href="">Tabela de UG</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Unidade Gestora</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">IRRF</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Alíquota IRRF - Cadastro</a></li>
            <li><a class="dropdown-item" href="">Alíquota IRRF - Consulta</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Lei</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela da Natureza das Leis</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Licitação</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela de Tipo de Documento Processo  Licitatório</a></li>
            <li><a class="dropdown-item" href="">Tabela de itens do Processo Licitatório</a></li>
            <li><a class="dropdown-item" href="">Tabela das Modalidades da Licitação</a></li>
            <li><a class="dropdown-item" href="">Tabela das Situações da Licitação</a></li>
            <li><a class="dropdown-item" href="">Tabela de Fundamento Compra Direta</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">LRF</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Impacto da LRF</a></li>
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Metas Físcais</a></li>
             <li><a class="dropdown-item" href="">Tabela dos Tipos de Passivo Contingente</a></li>
            <li><a class="dropdown-item" href="">Tabela Tipos de Valores das Metas Físcais</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Moeda</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela dos Tipos de Moedas</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Obra</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela de Detalhe Obra Natureza</a></li>
            <li><a class="dropdown-item" href="">Tabela de Tipo Serviço Engenharia</a></li>
            <li><a class="dropdown-item" href="">Tabela Natureza Obra</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Órgão</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Orgãos</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Pessoal</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela da Natureza das Diárias</a></li>
              <li><a class="dropdown-item" href="">Tabela de Classificação interna de Doença -CID</a></li>
              <li><a class="dropdown-item" href="">Tabela de Espécie Remuneração/Provento</a></li>
               <li><a class="dropdown-item" href="">Tabela de Tipo Documento Pessoal</a></li>
              <li><a class="dropdown-item" href="">Tabela de Tipo Documento Ato Pessoal</a></li>
              <li><a class="dropdown-item" href="">Tabela de Tipo Norma</a></li>
               <li><a class="dropdown-item" href="">Tabela dos Cargos/Funções de Pessoal</a></li>
              <li><a class="dropdown-item" href="">Tabela dos Tipos de Ato de Pessoal</a></li>
              <li><a class="dropdown-item" href="">Tabela dos Tipos de Desconto/Benefícios/Gratificações</a></li>
               <li><a class="dropdown-item" href="">Tabela dos Tipos de Despesas do RPPS</a></li>
              <li><a class="dropdown-item" href="">Tabela dos Tipos de Veículo</a></li>
            </ul>
          </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Responsável</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela dos Tipos de Responsável</a></li>
          </ul>
        </li>
         <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="">Restos a Pagar</a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="">Tabela das Modalidades do Restos a Pagar</a></li>
          </ul>
        </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">RPPS</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela Tipo Investimento</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Sistemas Administrativos</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela dos Sistemas Administrativos</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="">Unidade de Medida</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="">Tabela das Unidades de Medida</a></li>
            </ul>
          </li>
        
         

         <!-- <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Child 1</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
      </ul>
    </li> -->
        
       </ul>
      </li> 
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="">Janelas</a>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item" href="">Em Cascata</a></li>
          <li><a class="dropdown-item" href="">Lado a Lado Horizontalmente</a></li>
          <li><a class="dropdown-item" href="">Lado a Lado Verticalmente</a></li>
          <li><a class="dropdown-item" href="">Organizar icones</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="">Histórico das Atualizações</a></li>
      <li><a class="dropdown-item" href="">Sobre</a></li>
    </ul>
     </li>
     </div>
    </ul>
    
</div>

  <!-- <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Child 1</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
      </ul>
    </li> -->


<form class="d-flex me-5">
 <input class="form-control me-2" type="search" placeholder="Pesquisar">
 <button class="btn btn-outline-light" type="submit">Pesquisar</button>
</form>

  <div class="profile-logo dropstart">
 <button class="btn btn-outline-light dropdown-toggle"  data-bs-toggle="dropdown">
    Naifa
 </button>
 <ul class="dropdown-menu dropdown-menu-dark">
   <li *ngFor="let item of list">
    <a href="" class="dropdown-item" routerLink="active" [routerLink]="[item.route]">{{item.name}}</a>
  </li>
   
 </ul>
  </div>
</nav>