nav{
    height: 100%;
    background-color: var(--orange);
}

.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover{
    color: var(--orange);
    border-radius: 30%;
}