  <h1>Footer</h1>
  
  <!-- <footer class="bg-orange-600 text-white ">
  <div class="footer">
    <img src="LOGO_SETI_toda_branca_branca.svg" alt="logo" width="150px" height="150px"> <!-- tamanho menor da imagem -->
     <!-- <h2>
      Tribunal de contas do Estado de Mato Grosso - Copyright {{ currentYear }} ©
    </h2>
  </div>
</footer> --> 
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>