<h4><i class="bi bi-anthropic"></i> Pesquisa</h4>

<h5>
  <i class="bi bi-search-heart-fill"></i
  ><strong
    >Clique na linha para selecionar um registro ou use CTRL e SHIFT para
    selecionar vários</strong
  >
</h5>

<div class="d-flex flex-row w-100">
  <div class="d-flex flex-column w-25">
    <h4>Tipo de Pesquisa</h4>
    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Limpar pesquisa</option>
        <option value="1">por CPF/CNPJ</option>
        <option value="2">por CREDOR</option>
        <option value="3">por UF</option>
        <option value="3">por TIPO DE PESSOA</option>
        <option value="3">por TIPO DE EMPRESA</option>
      </select>
    </div>
  </div>
  <div class="d-flex flex-column w-25">
    <h4>Forma da Pesquisa</h4>
    <div>
      <select class="form-select" aria-label="Default select example">
        <option value="1">Pesquisa parcial</option>
        <option value="2">Pesquisa exata</option>
        <option value="3">Iniciando com o texto</option>
      </select>
    </div>
  </div>
  <div class="d-flex flex-column w-50">
    <h4>Texto a Pesquisar</h4>
    <div>
      <input type="text" class="form-control" />
    </div>
  </div>
</div>

<div
  *ngIf="carregando"
  class="d-flex justify-content-center align-items-center"
  style="height: 200px"
>
  <p-progress-spinner
    strokeWidth="8"
    fill="transparent"
    animationDuration=".5s"
    [style]="{ width: '50px', height: '50px' }"
  >
  </p-progress-spinner>
</div>

<div class="mt-4 d-flex flex-row">
  <div style="width: 30px">
    <h3>
      <button type="button" class="btn btn-light" (click)="showDialog()">
        <i class="bi bi-filter-square"> </i>
      </button>
    </h3>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th
          *ngFor="let col of colunasOrdenadas"
          [style.width.px]="getLarguraColuna(col)"
        >
          {{ getNomeColuna(col) }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let cred of credores"
        style="cursor: pointer"
        (click)="selecionarRow(cred)"
        [class.table-active]="cred === linhaSelecionada"
      >
        <td *ngFor="let col of colunasOrdenadas">{{ cred[col] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-4 w-100 d-flex justify-content-between align-items-center">
  <div class="d-flex gap-3">
    <button
      type="button"
      *ngIf="!carregando"
      class="btn btn-secondary btn-lg"
      [routerLink]="['/formulario-empenhos']"
      [queryParams]="{ selecionados: 1, nomeCredor: linhaSelecionada?.credor }"
      [disabled]="!linhaSelecionada"
    >
      Selecionar
    </button>
    <button type="button" *ngIf="!carregando" class="btn btn-secondary btn-lg">
      Limpar filtro
    </button>
  </div>
  <button type="button" *ngIf="!carregando" class="btn btn-secondary btn-lg">
    Fechar/Limpar[Esc]
  </button>
</div>

<p-dialog
  header="Tipo de Pesquisa"
  [(visible)]="visible"
  [style]="{ width: '20rem' }"
>
  <p-listbox
    [(ngModel)]="PesquisaSelecionada"
    [options]="pesquisas"
    [multiple]="true"
    [checkbox]="true"
    optionLabel="name"
    optionValue="code"
  >
  </p-listbox>
</p-dialog>
