<div class="d-flex" style="width: 100%">
  <div class="flex-shrink-0" style="flex: 0 0 90%; max-width: 90%">
    <div class="p-3 bordered">
      <p-fieldset>
        <div class="flex flex-row gap-6">
          <span>Parâmetros da pesquisa de empenhos Naifa</span>
          <i class="bi bi-x justify-content-end"></i>
        </div>
      </p-fieldset>

      <p class="text-danger">
        Dica: Para listar todos os empenhos não selecionar nenhum paramentro e
        clicar no botão &#60;Localizar&#62;
      </p>
      <p-fieldset>
        <div>
          <p>Sugestão para Amostra</p>
          <div class="d-flex flex-row w-100">
            <div class="w-100 gap-4">
              <p-select
                [options]="cities"
                [(ngModel)]="selectedCity"
                optionLabel="name"
                placeholder="Select a City"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <p>Periodo (para cálculo do indicador de relevância)</p>
          <p-fluid class="d-flex flex-row gap-2">
            <div class="flex-auto">
              <p-datepicker
                [(ngModel)]="date1"
                [showIcon]="true"
                inputId="buttondisplay"
                [showOnFocus]="false"
              />
            </div>
            <div class="flex-auto text-center align-self-center">à</div>
            <div class="flex-auto">
              <p-datepicker
                [(ngModel)]="date2"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
              />
            </div>
          </p-fluid>
        </div>
      </p-fieldset>
    </div>

    <p-panel>
      <div class="d-flex flex-row gap-2 align-self-center justify-content-between">
        <div class="d-flex flex-row gap-2 align-self-center">
          <p-radiobutton
            [(ngModel)]="checked"
            variant="filled"
            value="Todos os empenhos"
            label="empenho"
          />
          <strong>Todos os empenhos</strong>
        </div>

        <div class="flex items-center flex-auto text-center align-self-center">
          <p-checkbox
            inputId="ingredient1"
            name="pizza"
            value="Cheese"
            [(ngModel)]="pizza"
          />
          <label for="ingredient1" class="ml-2">
            Liquidações com chaves de acesso da NF-e
          </label>
        </div>
        <div class="flex items-center">
          <p-checkbox
            inputId="ingredient2"
            name="pizza"
            value="Mushroom"
            [(ngModel)]="pizza"
          />
          <label for="ingredient2" class="ml-2">
            Não pagos integralmente
          </label>
        </div>
      </div>
    </p-panel>
    <div class="d-flex flex-column">
      <h4 class="mt-4">Credor</h4>
      <div class="d-flex flex-row gap-4">
        <div>
        <input pInputText [(ngModel)]="value1" class="border-top-none" type="text"  pSize="small" placeholder="Credor"/>
        </div>
        <div class="flex-auto text-center align-self-center"><i class="bi bi-binoculars cursor-pointer hover:border-primary"></i></div>
        <div class="flex-auto text-center align-self-center w-100"><hr></div>
      </div>
      <div class="mt-4">
      <h5>Descrição Empenho</h5>
      <input type="text" class="form-control border-top-0">
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="flex-shrink-0" style="flex: 1 1 10%; max-width: 10%">
    <div class="card flex justify-center m-1 text-small"></div>

    <div class="card flex flex-wrap gap-4 justify-center m-2">
      <p-button
        label="Ir para a unidade gestora"
        variant="text"
        severity="secondary"
      />
    </div>

    <div class="card flex flex-wrap gap-4 justify-center m-2">
      <p-button label="Filtrar[F3]" variant="outlined" severity="secondary" />
    </div>

    <div class="card flex flex-wrap gap-4 justify-center m-2">
      <p-button label="Localizar[F4]" variant="outlined" severity="secondary" />
    </div>

    <div class="card flex flex-wrap gap-4 justify-center m-2">
      <p-button label="Fechar[Esc]" variant="outlined" severity="secondary" />
    </div>
  </div>
</div>
